<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()" novalidate>
                <!-- Customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer Information</h3>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">First Name</label>
                        <div class="col-md-9">
                            <input formControlName="firstName" type="text" class="form-control"
                                placeholder="Enter first name" required />
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']">
                                    First Name is required
                                </div>
                                <div *ngIf="firstName?.errors?.['minlength']">
                                    First Name must be at least 3 characters long
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Last Name</label>
                        <div class="col-md-9">
                            <input formControlName="lastName" type="text" class="form-control"
                                placeholder="Enter last name" />
                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="lastName?.errors?.['required']  || lastName?.errors?.['notOnlyWhiteSpace']">
                                    Last Name is required
                                </div>
                                <div *ngIf="lastName?.errors?.['minlength']">
                                    Last Name must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                            <input formControlName="email" type="text" class="form-control" placeholder="Enter email" />
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="email?.errors?.['required']">
                                    Email is required
                                </div>
                                <div *ngIf="email?.errors?.['pattern']">
                                    Email must be in valid format
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Country</label>
                        <div class="col-md-9">
                            <select formControlName="country" class="form-select"
                                (change)="getStates('shippingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                            <div *ngIf="shippingCountry?.invalid && (shippingCountry?.dirty || shippingCountry?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="shippingCountry?.errors?.['required']">
                                    Country is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Street</label>
                        <div class="col-md-9">
                            <input formControlName="street" type="text" class="form-control" placeholder="Enter street"
                                required />
                            <div *ngIf="shippingStreet?.invalid && (shippingStreet?.dirty || shippingStreet?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="shippingStreet?.errors?.['required']  || shippingStreet?.errors?.['notOnlyWhiteSpace']">
                                    Street is required
                                </div>
                                <div *ngIf="shippingStreet?.errors?.['minlength']">
                                    Street must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">City</label>
                        <div class="col-md-9">
                            <input formControlName="city" type="text" id="city" class="form-control"
                                placeholder="Enter city" required />
                            <div *ngIf="shippingCity?.invalid && (shippingCity?.dirty || shippingCity?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="shippingCity?.errors?.['required']  || shippingCity?.errors?.['notOnlyWhiteSpace']">
                                    City is required
                                </div>
                                <div *ngIf="shippingCity?.errors?.['minlength']">
                                    City must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">State</label>
                        <div class="col-md-9">
                            <select formControlName="state" class="form-select">
                                <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                    {{state.name}}
                                </option>
                            </select>
                            <div *ngIf="shippingState?.invalid && (shippingState?.dirty || shippingState?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="shippingState?.errors?.['required']">
                                    State is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Zip Code</label>
                        <div class="col-md-9">
                            <input formControlName="zipCode" type="text" id="zipCode" class="form-control"
                                placeholder="Enter zip code" required />
                            <div *ngIf="shippingZipCode?.invalid && (shippingZipCode?.dirty || shippingZipCode?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="shippingZipCode?.errors?.['required']  || shippingZipCode?.errors?.['notOnlyWhiteSpace']">
                                    ZipCode is required
                                </div>
                                <div *ngIf="shippingZipCode?.errors?.['minlength']">
                                    ZipCode must be 6 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add check box to copy shipping address to billing address -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddToBillingAdd($event)">
                        <span class="au-checkmark"></span>Billing address same as shipping address
                    </label>
                </div>

                <!-- Billing address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Country</label>
                        <div class="col-md-9">
                            <select formControlName="country" class="form-select"
                                (change)="getStates('billingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                            <div *ngIf="shippingCountry?.invalid && (shippingCountry?.dirty || shippingCountry?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="billingCountry?.errors?.['required']">
                                    Country is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Street</label>
                        <div class="col-md-9">
                            <input formControlName="street" type="text" id="street" class="form-control"
                                placeholder="Enter street" required />
                            <div *ngIf="billingStreet?.invalid && (billingStreet?.dirty || billingStreet?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="billingStreet?.errors?.['required']  || billingStreet?.errors?.['notOnlyWhiteSpace']">
                                    Street is required
                                </div>
                                <div *ngIf="billingStreet?.errors?.['minlength']">
                                    Street must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">City</label>
                        <div class="col-md-9">
                            <input formControlName="city" type="text" id="city" class="form-control"
                                placeholder="Enter city" required />
                            <div *ngIf="billingCity?.invalid && (billingCity?.dirty || billingCity?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="billingCity?.errors?.['required']  || billingCity?.errors?.['notOnlyWhiteSpace']">
                                    CIty is required
                                </div>
                                <div *ngIf="billingCity?.errors?.['minlength']">
                                    City must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">State</label>
                        <div class="col-md-9">
                            <select formControlName="state" class="form-select">
                                <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                    {{state.name}}
                                </option>
                            </select>
                            <div *ngIf="billingState?.invalid && (billingState?.dirty || billingState?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="billingState?.errors?.['required']">
                                    State is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Zip Code</label>
                        <div class="col-md-9">
                            <input formControlName="zipCode" type="text" id="zipCode" class="form-control"
                                placeholder="Enter zip code" required />
                            <div *ngIf="billingZipCode?.invalid && (billingZipCode?.dirty || billingZipCode?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="billingZipCode?.errors?.['required']  || billingZipCode?.errors?.['notOnlyWhiteSpace']">
                                    ZipCode is required
                                </div>
                                <div *ngIf="billingZipCode?.errors?.['minlength']">
                                    ZipCode must be 6 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit card info -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Card Type</label>
                        <div class="col-md-9">
                            <select formControlName="cardType" class="form-select">
                                <option>Visa</option>
                                <option>Mastercard</option>
                            </select>
                            <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="creditCardType?.errors?.['required']">
                                    Field is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Name on Card</label>
                        <div class="col-md-9">
                            <input formControlName="nameOnCard" type="text" id="nameOnCard" class="form-control"
                                placeholder="Enter name on the card" required />
                            <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhiteSpace']">
                                    Field required
                                </div>
                                <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                                    Name must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Card Number</label>
                        <div class="col-md-9">
                            <input formControlName="cardNumber" type="text" id="cardNumber" class="form-control"
                                placeholder="Enter card number" required />
                            <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="creditCardNumber?.errors?.['required']">
                                    Card number is required
                                </div>
                                <div *ngIf="creditCardNumber?.errors?.['pattern']">
                                    Card number must be 16 digits long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Security Code</label>
                        <div class="col-md-9">
                            <input formControlName="securityCode" type="text" id="securityCode" class="form-control"
                                placeholder="Enter security code" required />
                            <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="creditCardSecurityCode?.errors?.['required']">
                                    Security code is required
                                </div>
                                <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                                    Security code must be 3 digits long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Expiration Month</label>
                        <div class="col-md-9">
                            <select formControlName="expiorationMonth" class="form-select">
                                <option *ngFor="let month of creditCardMonths">{{month}}</option>
                            </select>
                            <div *ngIf="creditCardExpMonth?.invalid && (creditCardExpMonth?.dirty || creditCardExpMonth?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="creditCardExpMonth?.errors?.['required']">
                                    Field is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Expiration Year</label>
                        <div class="col-md-9">
                            <select formControlName="expiorationYear" class="form-select"
                                (change)="handleMonthsAndYears()">
                                <option *ngFor="let year of creditCardYears">{{year}}</option>
                            </select>
                            <div *ngIf="creditCardExpYear?.invalid && (creditCardExpYear?.dirty || creditCardExpYear?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="creditCardExpYear?.errors?.['required']">
                                    Field is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
                </div>

                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>